*{padding: 0;margin: 0;box-sizing: border-box}

body{
    overflow: hidden;
    height: 100vh;
    border: 1px black solid;
    display: flex;
    flex-direction:row;
    
}
.viewCode{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.viewanimation{
    border: goldenrod 1px solid;
    width: 100%;
    height: 100%;
    z-index:1;
    background-color: #666;
}
#code{
    overflow: hidden;
    height: 100%;
}


  

